:root {
  --Grotesk: neue-haas-grotesk-display, sans-serif;
  --primary-grey: #1c1819;
  --secondary-grey: #1c1c1c;
  --tertiary-grey: #262626;
  --red: #a12724;
  --eggshell: #fff9e3;
  --black: #000000;
  --white: #ffffff;
}

* {
  font-family: var(--Grotesk);
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--secondary-grey);
  margin: 0px;
}

h1 {
  font-family: var(--Grotesk);
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: var(--Grotesk);
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: var(--Grotesk);
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: var(--Grotesk);
  font-weight: 500;
  font-style: normal;
}

/* .Placceholder {
  font-family: var(--Grotesk);
  font-weight: 400;
  font-style: normal;
} */

/* Footer styling */
footer {
  background-color: var(--primary-grey);
  color: var(--eggshell);
  padding: 2rem 2rem 3rem 2rem;
}

.footer-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-ul a {
  color: var(--eggshell);
  text-decoration: none;
}

.footer-ul li {
  margin-bottom: 1.2rem;
}

.footer-container-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.footer-container-logos {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-right: 5rem;
}

#footer-movie-roast-logo {
  width: 15rem;
}

#footer-movie-db-logo {
  width: 9rem;
}

@media screen and (max-width: 870px) {
  .footer-container-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .footer-container-logos {
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1;
  }
}
