:root {
  --Grotesk: neue-haas-grotesk-display, sans-serif;
  --primary-grey: #1c1819;
  --secondary-grey: #1c1c1c;
  --tertiary-grey: #262626;
  --red: #a12724;
  --eggshell: #fff9e3;
  --black: #000000;
  --white: #ffffff;
}

html {
  background-color: var(--primary-grey);
}

* {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

body {
  background-color: var(--secondary-grey);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: var(--Grotesk);
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: var(--Grotesk);
  font-weight: 700;
  font-style: normal;
}

h3,
label,
a {
  font-family: var(--Grotesk);
  font-weight: 600;
  font-style: normal;
}

p,
li,
small,
figcaption {
  font-family: var(--Grotesk);
  font-weight: 500;
  font-style: normal;
}

input,
textarea {
  font-family: var(--Grotesk);
  font-weight: 400;
  font-style: normal;
}

/* toast */
.toast {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background: var(--red);
  color: var(--eggshell);
  padding: 1rem 1.5rem;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 550;
  font-family: var(--Grotesk);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 9999;
}

.toast#success {
  background: rgb(8, 170, 8);
}
.toast#error {
  background: var(--red);
}

.toast.show {
  animation: toast-in 0.4s ease-in-out forwards;
}

.toast.hidden {
  animation: toast-out 0.2s ease-in-out forwards;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }

  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
  }

  75% {
    transform: translateX(-50%) translateY(0px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(50px);
    opacity: 0;
  }
}
/* background graphic */

.background-wrapper {
  position: fixed;
  top: 8rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.background-graphic {
  height: auto;
  height: 150vh;
  /* width: 25vw; */
  object-fit: cover;
  position: absolute;
  transform: translateY(0);
}

@media (max-width: 991px) {
  .background-wrapper {
    opacity: 0;
  }
}

/*
Buttons 
Use class names:
class="button"                for red
class="button button--grey"   for grey
*/
.button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 19px;
  color: var(--eggshell);
  background-color: var(--red);
  border: none;
  margin: 1rem;
  cursor: pointer;
}

.button--grey {
  background-color: var(--tertiary-grey);
}

/*NAVBAR*/
.search-menu {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  max-width: 24rem;
  background-color: #171415;
  position: absolute;
  pointer-events: none;
}

.search-menu.open {
  visibility: visible;
  pointer-events: all;
}

.search-menu ul#movies {
  width: 100%;
  flex-direction: column;
  display: flex;
  list-style: none;
  padding: 0rem;
}

.search-menu ul#movies li {
  flex-direction: row;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.search-menu ul#movies li img {
  width: 10%;
}

.search-menu ul#movies li p {
  font-size: 16px;
  font-weight: 500;
}

#navbar-component {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.navbar {
  background-color: var(--primary-grey);
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  gap: 0.9rem;
}

.navbar .logo {
  height: 5rem;
  border: 0;
  margin-top: -10px;
}

.profile-pic {
  height: 2.5rem;
  border-radius: 50%;
}

.navbar a,
.navbar p {
  text-decoration: none;
  color: var(--eggshell);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--Grotesk);
}

.navbar img {
  margin: 0;
}

.navbar p:hover,
.navbar a:hover {
  color: #a39fa2;
}

#profile-icon img:hover {
  scale: 1.1;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
}

.searchbar-wrapper {
  flex: 1;
  max-width: 24rem;
}

#searchbar {
  background-color: #171415;
  color: var(--eggshell);
  border: 2px solid #131011;
  width: 100%;
  border-radius: 1000px;
  height: 1.8rem;
  outline: none;
  font-size: 16px;
  padding-left: 1rem;
}

/*NAV-Mobile*/
.mobile-top-bar {
  display: none;
  padding: 1rem;
  background-color: var(--primary-grey);
}

.mobile-logo {
  height: 3rem;
}

.mobile-bottom-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--primary-grey);
  overflow: hidden;
}

/*Hamburger links*/
.mobile-menu {
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  z-index: 1000;
  font-size: 24px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu img {
  display: flex;
  width: 70%;
}

.mobile-menu .links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mobile-menu a {
  color: var(--eggshell);
  text-decoration: none;
  font-family: var(--Grotesk);
  font-weight: 600;
}

.hamburger {
  height: 2rem;
  width: 5rem;
  border: none;
  padding: 0;
  margin: 0;
  all: unset;
  font-size: 2rem;
  color: var(--eggshell);
  line-height: 1;
  cursor: pointer;
}

.mobile-bottom-navbar .search {
  cursor: pointer;
}

.mobile-bottom-navbar > button,
.mobile-bottom-navbar > a {
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }

  .mobile-top-bar,
  .mobile-bottom-navbar {
    display: flex;
  }
}

/* Footer styling */
footer {
  background-color: var(--primary-grey);
  color: var(--eggshell);
  padding: 2rem 2rem 3rem 2rem;
}

.footer-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-ul a {
  color: var(--eggshell);
  text-decoration: none;
}

.footer-ul li {
  margin-bottom: 1.2rem;
}

.footer-container-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem 0;
}
.footer-container-logos {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-right: 2rem;
  grid-column: span 2;
}

#footer-movie-roast-logo {
  width: 15rem;
}

#footer-movie-db-logo {
  width: 9rem;
}

@media screen and (max-width: 768px) {
  .footer-container-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .footer-container-logos {
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1;
    margin-right: 0;
  }
  .footer-container-links > :nth-child(4) {
    display: none;
  }
  footer {
    padding: 2rem 0rem 6rem 2rem;
  }
  .footer-container-logos .footer-text {
    display: none;
  }
}

/* Homepage */
.homepage-cover-photo {
  width: 100%;
  height: 38rem;
  object-fit: cover;
}

.cover-text-overlay {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: var(--eggshell);
  font-size: 40px;
  justify-content: center;
  position: absolute;
  top: 15rem;
  padding: 1rem;
}

.cover-text-overlay img {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .homepage-cover-photo {
    display: none;
  }
  .cover-text-overlay {
    display: none;
  }
}

.homepage-buttom-section {
  margin: 2rem 0 6rem 10%;
  color: var(--white);
}

.homepage-buttom-section h3 {
  font-size: 26px;
  width: 21rem;
  margin-bottom: 1rem;
}

.homepage-buttom-section p {
  font-size: 16px;
  width: 21rem;
  margin-right: 2rem;
}

.homepage-explore-container {
  display: flex;
  align-items: center;
}

/*About*/
.about-text {
  color: var(--eggshell);
  padding: 1.25rem;
  text-align: center;
  margin: 10rem 1.5rem 30rem 1.5rem;
}

/*Review Textbox*/
.review-text-box {
  width: 27rem;
  border-radius: 12px;
  background-color: var(--primary-grey);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr auto);
}

.review-text-box > :nth-child(1) {
  grid-column: 1 / 3;
  height: 8.5rem;
  margin: 1.5rem 2.4rem 0 2.4rem;
  background-color: var(--primary-grey);
  border: none;
  outline: none;
  font-size: 14px;
  caret-color: var(--red);
  resize: none;
  color: var(--white);
}

.review-text-box > :nth-child(1)::placeholder {
  color: var(--white);
  opacity: 80%;
}

.review-text-box > :nth-child(2) {
  align-self: end;
  margin: 1.2rem 2.5rem 1.2rem 2.5rem;
  font-weight: 600;
  font-family: var(--Grotesk);
  font-size: 16px;
  color: var(--white);
}

.review-text-box > :nth-child(3) {
  align-self: end;
  justify-self: end;
  margin: 0.6rem;
}

.review-text-box .button {
  font-size: 16px;
}

.rating {
  display: flex;
  gap: 0.25rem;
}

.rating label {
  margin-right: 0.6rem;
}

.rate-button {
  margin-top: 0.1rem;
  background-color: var(--tertiary-grey);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
}

.rate-button#selected {
  background-color: var(--red);
}

/* Profile Page */

.profile-page {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  align-items: center;
  column-gap: 10%;
}

#profile-image {
  border-radius: 50%;
  max-width: 40%;
  width: 391px;
}

#profile-detail {
  display: flex;
  flex-direction: column;
  color: white;
}

#profile-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  gap: 5vw;
  margin-top: 1rem;
}

.profile-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
}

.profile-text p {
  margin: 0;
  font-weight: 450;
  color: white;
}

.profile-text h3 {
  margin: 0;
  font-weight: 600;
}

.profile-rows button {
  height: 50%;
}

.button-red {
  background-color: var(--red);
  color: var(--eggshell);
  border: 0;
  border-radius: 100px;
  width: 150px;
  height: 55px;
  padding: 6px 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.button-red:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* TESTPAGE STUFF FOR TESTING REMOVE LATER */
.test-page {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.testcomments#comments {
  display: flex;
  flex-direction: column;
  width: 500px;
}
@media (max-width: 600px) {
  .testcomments#comments {
    width: 100%;
  }
}

/* Movie Card Component */

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.movie-card .poster {
  width: 155px;
  height: 231px;
  border-radius: 5px;
  background-color: #ffffff;
}
.movie-card .title {
  margin: 0;
  font-family: var(--Grotesk);
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

/* Review component */

.review-component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 22px;
  margin: 2rem;
  color: var(--white);
  width: 700px;
  line-height: 23px;
}

.poster-review-component {
  height: 9rem;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 4px;
}

.picture-username-movietitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.picture-username-movietitle a {
  color: var(--white);
  text-decoration: none;
}

.picture-username-movietitle img {
  width: 2.1rem;
}

.movie-title-review-component span {
  font-style: italic;
}

.movie-title-review-component {
  font-weight: 400;
  margin-left: 0.5rem;
}

.like-comment-share-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  gap: 2rem;
}

.like-comment-share-rating span {
  font-size: 16px;
  font-weight: 400;
}
.like-comment-share-rating .rating {
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 17px;
  gap: 5px;
  align-items: center;
}
.like-comment-share-rating .rating .rate-button {
  width: 1.7rem;
  height: 1.7rem;
}

.like-comment-share-rating button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--white);

  display: flex;
  flex-direction: row;
  gap: 3px;
}

.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-content p {
  margin: 1rem 0 1rem 0;
  font-size: 17px;
  font-weight: 350;
}

.divider {
  width: 100%;
  border: solid var(--tertiary-grey) 1px;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 91%;
}

@media screen and (max-width: 767px) {
  .poster-review-component {
    display: none;
  }
  .review-content {
    width: 80%;
  }
  .review-content p,
  .like-comment-share-rating {
    padding-left: 2.7rem;
  }
  .divider {
    margin-left: 6.5rem;
    width: 73%;
  }
  .rating label {
    display: none;
  }
}
@media (max-width: 600px) {
  .review-content {
    width: 65%;
  }
  .divider {
    margin-left: 9.5rem;
    width: 60%;
  }
}
/* Review Comment */

.review-comment {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: var(--Grotesk);
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  padding: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 450;
  border-bottom: var(--tertiary-grey) 1px solid;
}
@media screen and (max-width: 768px) {
  .review-comment {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .review-comment {
    width: 65%;
  }
}

.review-comment .user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.review-comment .picture {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.review-comment .name {
  font-weight: 450;
}
.review-comment .content-container {
  white-space: normal;
  overflow-wrap: break-word;
}
.review-comment .content {
  font-weight: 300;
  line-height: 22px;
}

/* reviews page */

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-button {
  color: var(--eggshell);
  text-decoration: underline;
  text-decoration: none;
  margin-left: 2rem;
  cursor: pointer;
}

.sort-button p {
  font-size: 16px;
  font-weight: 550;
}

.sort-menu {
  display: flex;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
  background-color: #171415;
  color: var(--eggshell);
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  padding: 2rem;
  padding-left: 1rem;
}

.sort-menu.open {
  visibility: visible;
  pointer-events: auto;
  cursor: auto;
}

.sort-menu .option {
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}
.sort-menu .option:hover {
  opacity: 0.8;
}
.sort-menu .option:active {
  opacity: 0.6;
}

/*MOVIES PAGE*/

.page-content {
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.movies-container {
  margin-top: 2rem;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.movies-section {
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

.movies-section.hidden {
  display: none;
}

.movies-section#sorted {
  display: none;
}
.movies-section#sorted.shown {
  display: block;
}

.section-header {
  background: var(--red);
  display: flex;
  border-radius: 5px;
  width: 100%;
  gap: 1rem;
  align-items: baseline;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  z-index: 1000;
}

.section-title {
  margin: 0;
  font-size: 32px;
  color: var(--eggshell);
  font-family: var(--Grotesk);
}

.view-more {
  color: var(--eggshell);
  text-decoration: underline;
  font-size: 14px;
  text-decoration: none;
}

.view-more:hover {
  opacity: 0.8;
}
.view-more:active {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }

  .view-more {
    font-size: 16px;
  }
  .page-content {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .movies-container {
    margin-left: 38px;
    margin-right: 38px;
  }
  .section-header {
    padding-left: 2rem;
  }
  .sort-button {
    margin-left: 9rem;
  }
  .sort-button p {
    font-size: 20px;
    font-weight: 550;
  }
}

@media (min-width: 820px) {
  .movies-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.movies-container#sorted {
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .page-content {
    margin-bottom: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media (min-width: 1400px) {
  .page-content {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

/* Movie page */

.form-wrapper {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  z-index: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper.open {
  visibility: visible;
  pointer-events: all;
}

.movie-page {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 2rem 7rem 2rem;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.movie-page .poster-review-rating {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 1rem;
  position: sticky;
  top: 10rem;
  align-self: flex-start;
}

.movie-page .poster {
  border-radius: 8px;
}

.movie-page .review-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-page .rating-circles-text-container,
.movie-page .rating-circles-text-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-page .rating-text {
  font-weight: 600;
}

.content {
  width: 37rem;
}

.review-section {
  display: flex;
  flex-direction: row;
}

.movie-page .article-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  margin-top: 2rem;
}

.movie-page .top-reviews {
  width: 100%;
}

.movie-page .top-reviews h2 {
  width: 100%;
}

.movie-page .top-reviews .container {
  margin: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.movie-page .review-component-container {
  width: 100%;
  margin: 0;
}

.movie-page .divider {
  margin-left: 0;
  width: 100%;
}

.movie-page .poster-review-component {
  display: none;
}

.movie-page .description {
  width: 100%;
  line-height: 22px;
}

.movie-page h1,
.movie-page h2 {
  background-color: var(--red);
  padding: 0.5rem;
  padding-left: 1rem;
  display: inline-block;
  border-radius: 3px;
  color: var(--eggshell);
}

.movie-page h1 {
  font-size: 38px;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.movie-page h1 span {
  font-size: 20px;
  font-weight: 500;
}

.movie-page p span {
  font-weight: 600;
}

.movie-page .write-review-button {
  width: 7.5rem;
  height: 3rem;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 13px;
  color: var(--eggshell);
  background-color: var(--red);
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .movie-page .poster-review-rating {
    top: 3rem;
  }
  .content {
    width: auto;
  }
  .movie-page .rating label {
    display: none;
  }
  .movie-page .review-content > * {
    padding: 0;
  }
}

@media screen and (max-width: 890px) {
  .movie-page h1 {
    font-size: 32px;
  }
  .movie-page h2 {
    font-size: 24px;
  }
  .movie-page h1 span {
    font-size: 16px;
  }
  .movie-page .poster-review-rating {
    width: 10rem;
  }

  .movie-page .review-section {
    margin-top: 8rem;
  }
  .movie-page .article-content {
    width: auto;
  }
  .movie-page .review-content {
    width: 100%;
  }

  .movie-page .article-content p {
    font-size: 15px;
  }
  .movie-page .rating-circles-text-container {
    display: none;
  }
  .movie-page .rating-circles-text-container-mobile {
    flex-direction: row;
    margin-bottom: 0.6rem;
  }
  .movie-page .rating-text {
    margin-right: 0.4rem;
  }
  .movie-page .article-content {
    gap: 0.8rem;
  }
}
@media screen and (min-width: 890px) {
  .movie-page .rating-circles-text-container-mobile {
    display: none;
  }
}

/* review page */
.page-content#review-page .review-section {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
}

.page-content#review-page .section-title {
  font-size: 24px;
  cursor: pointer;
}

.page-content#review-page .divider {
  display: none;
}

#review-page .back-button {
  width: 40px;
  /* padding: 1px; */
  cursor: pointer;
  border-radius: 50px;
  padding: 1px;
}

#review-page .back-button:hover {
  background-color: #ffffff14;
}

#review-page .back-button:active {
  background-color: #ffffff1c;
}

#review-page .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 700px;
  margin: 1.5rem 0 1.5rem 0;
}

.comment-input {
  background-color: #171415;
  color: #d9d9d9;
  border: none;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
}
.comment-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--tertiary-grey);
}

.comment-button {
  background-color: var(--red);
  color: var(--eggshell);
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* BLOG */

.blog-wrapper {
  color: var(--white);
  margin: 2rem 0 7rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-wrapper article {
  padding: 1.25rem;
  width: 38rem;
}

.blog-wrapper h1 {
  font-size: 28px;
}

.blog-wrapper .written-by-date {
  font-size: 13px;
  margin-bottom: 2.4rem;
}

.blog-wrapper .written-by-date span {
  font-weight: 600;
}

.blog-wrapper .written-by-date time {
  margin-left: 2rem;
}

.blog-wrapper h2 {
  font-size: 22px;
  margin-top: 2rem;
}

.blog-wrapper p {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 29px;
  word-spacing: 1.5px;
}

.blog-wrapper img {
  width: 100%;
  margin-top: 1rem;
}

.blog-wrapper figure {
  font-size: 14px;
}

.blog-wrapper figcaption {
  margin: 0 0 1rem 0;
  opacity: 50%;
}

.blog-wrapper .blog-divider {
  border: solid var(--tertiary-grey) 1px;
  margin-top: 2rem;
  width: 100%;
}

@media screen and (max-width: 610px) {
  .blog-wrapper article {
    width: 100%;
  }
}
